body{
    font-family:  'Arial Narrow Bold', sans-serif;
    font-size: 15px;
    line-height:1.5;
    padding: 0px;
    margin: 0px;
    background-color: #f4f4f4;
}
/* global */
.container{
    width: 80%;
    margin: auto;
    overflow: hidden;
    
}
 /* header */
 header{
     background-color: #354246;
     color: #ffffff;
     padding-top: 30px;
     margin: 0px;
     min-height: 70px;
     border-bottom: 3px solid #e01109;

 }
 header nav{
    float: right;
    margin-top: 10px;
}
header ul{
    margin: 0px;
    padding: 0px;  
  }
  header li{
      
      display: inline;
      padding: 20px;
     /* float: left; */
     
      
 }
 header a{
     color: #f4f4f4;
     text-decoration: none;
     text-transform: uppercase;
     font-size: 16px;
    
 }

header #branding{
float: left;
}
header #branding h1{
    margin: 0px
}
.highlight{
    color: #d3120c;
}
.current a{
    color: aqua;
}
header a:hover{
    color: rgb(228, 140, 25);
    font-weight: bold;
}
@media screen and (max-width: 596px){
    #showcase{
        margin-left: 0px;
    }
    #showcase p{
        margin-right: 0px;
        margin-left: 0px;
        margin-bottom: 100px;
    }
}
#showcase{
    min-height: 400px;
    background: url(../images/shoe1.jpg) no-repeat;
    /* width: 100%; */
    text-align: center;
    color: #333232;
    margin-left: 50px;
}
#showcase h1{
    /* border-top: px solid #000; */
    margin-top: 100px;
    margin-bottom: 10px;
    font-size: 50px;
}
#showcase p{
    font-size: 20px;
    margin-right: 200px;
    margin-left: 10px;
}
@media screen and (max-width: 596px){
    #showcase{
        margin-left: 0px;
    }
    #showcase p{
        margin-right: 0px;
        margin-left: 0px;
        margin-bottom: 100px;
    }
}
#newsletter{
    background-color: #354246;
    padding: 10px;
    color: #ffffff;
    position: relative;
    top:20px;
}

#newsletter form{
    margin-top: 10px;
    margin-bottom: 10px;
    position: absolute;
    top: 25px;
    left: 60%;
}
@media screen and (max-width:596px){
    #newsletter form{
        position: static;
        top: 0;

    }
}
#newsletter input[type="email" ] {
    padding: 4px;
    height: 15px;
    width: 250px;
}
.but1{
    background: #d3120c;
    height: 30px;
    border: #354246;
    padding-left: 20px;
    padding-right: 20px;
    color: #ffffff;

}
#boxes{
    margin-top: 20px;
    
}
.grid{
    display: grid;
    grid-template-columns: auto auto auto;

}
@media screen and (max-width: 596px){
    .grid{
        grid-template-columns: auto;
    }
}
 .box{

    text-align: center;
    padding: 10px;
    height: 300px;


}
.box img{
    width: 100px;
    height: 120px;
    max-height: 100%;
    max-width: 100%;
}

 section .container aside{
    float: right; 
    margin-top: 100px;
    background: #354246;
    color: #faf6f6; 
    width: 30%;
    /* padding-left: 0px;
    margin-right: 100px; */
}
article{
    width: 50%;
    float: left;
    padding-right: 50px;
    padding-left: 100px;
}
.dark{
    background-color: #354246;
    color: #f4f4f4;
    padding: 20px;
}
/* aside #form{
    float: right;
    display: inline ;
    overflow: auto; 

    

    
} */
#main ul li{
    list-style: none;
    padding: 20px;
    border: #ddcfcf solid 1px;
    background: #c7bcbb;
    margin-bottom:5px ;


}
footer{
    background: #d3120c;
    text-align: center;
    color: #f8f2f2;
    padding: 20px;
    margin-top: 20px;
    font-weight: bold;
    clear: right;
}
